<?php

header("Cache-Control: no-cache, must-revalidate"); // HTTP/1.1

header("Expires: Sat, 1 Jul 2000 05:00:00 GMT"); // Fecha en el pasado

?>

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #000080;
}

footer {
  background: #000080;
  width: 100%;
  overflow: auto;
}

p {
  color: #fff;
  font-size: 130%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #524c56;
  text-decoration: none;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

/*Barra de desplazamiento*/
.contenedor::-webkit-scrollbar {
	width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}
/*Termina barra de desplazamiento*/


.titulos font{
  color: #cda434;
  font-size: 50px;
  font-family: georgia;
}
/*Inicio slider*/
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
  border: 0px solid #2c3e50;
  margin-bottom: 0px;
}

#btn-prev, #btn-next:hover {

}

.slider ul {
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 5s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  45% {margin-left: 0;}

  50% {margin-left: -100%;}
  100% {margin-left: -100%;}
}

/*Termino slider*/
/*Cabecera*/
header {
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  position: relative;
}

.imagencabecera img{
  width: 150px;
  height: 150px;
  float: left;
  padding-left: 70px;
  padding-top: 50px;
}

.principal font{
  color: #f4f4f4;
  font-family: algerian;
  font-size: 30px;
}

header #logo {
  margin: 15px 0 20px -25px;
}

header #logo img {
  margin: 0px;
  float: left;
  width: 100px;
}

/*Termina cabecera*/
/*Menu superior*/
.menu-fixed {
  text-align: center;
  background: #2c3e50;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.menu  {
  text-align: center;
  width: 100%;
  margin: 0 20% 0 23%;
  float: left;
  font-size: 150%;
  font-weight: 300;
  list-style: none;
}

.menu a{
  color: #cda434;
}

.menu a:hover {
  color: #f4f4f4;
}

section li {
  display: inline-block;
  padding: 10px;
}

section li a {
  color: #00bfff;
}
/*Termino menu superior*/
/*Formulario*/
form {
  width: 700px;
  margin: auto;
  background-color: #8bf;
  margin-top: 100px;
}
input {
  margin: 15px;
  padding: 10px;
  width: 640px;
  font-size: 18px;
  border: none;
  margin-bottom: 5px;
}

button {
  margin: 15px;
  padding: 10px;
  width: 660px;
  font-size: 18px;
  border: none;
  margin-bottom: 15px;
  ma
}

textarea {
  font-size: 18px;
  margin: 15px;
  padding: 10px;
  min-width: 640px;
  max-width: 640px;
  min-height: 100px;
  max-height: 200px;
  border: none;
}
/*termina Formulario*/
/*Cuadricula de imagenes*/
.cuadricula * {
  box-sizing: border-box;
}

.columna {
  float: left;
  width: 25%; /*Cambiar porcentaje para cantidad de imagenes 2x2=50% 3x3=33% 4x4=25%*/
  padding-right: 5px;
  padding-top: 10px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}
/*Termina Cuadricula de imagenes*/
nav {
  padding: 10px 10px 0 0;
}


#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #6991ac;
}

.footer-nav li a {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}

.current {
  color: #3f5767;
}

/*Inicio primera sección*/
.primera {
  width: 99%;
  float: left;
  text-align: center;
  padding: 5px;
}

.primera-padding {
  width: 29%;
  float: left;
  margin: 2% 2;
}

.primera img {
  width: 32.3%;
}

.areas {
  width: 24%;
  float: left;
  text-align: center;
  padding: 5px;
}

.areas-padding {
  width: 29%;
  float: left;
  margin: 2% 1;
}
/*Termino primera sección*/

/*Inicio segunda sección*/
.segunda {
  width: 32.3%;
  float: left;
  text-align: center;
  padding: 5px;
}

.segunda-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

section li a {
  color: #000;
}
/*Termino segunda sección*/


/*Inicio tercera sección*/
.tercera {
  width: 29%;
  float: left;
  text-align: center;
  padding: 3px;
  margin: 1% 1%;
}

.tercera-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}
/*Termino tercera sección*/

.one-third {
  width: 100%;
  float: right  ;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.one-third img {
  width: 500px;
}

/*Separación en tres*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 0% 15px 0% 15px;
  padding: 0%;
}

/*Termina separación en tres*/

.direccion-padding {
  width: 100%;
  float: left;
  margin: 0% 2% 0 0%;
}

.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #fff;
  font-size: 450%;
  padding: 20%;
}
/*Conocenos*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 27%;
  height: auto;
  padding: 5%;

}
/*Termina conocenos*/

.division {
  border-top: 2px solid #aadcd2;
  clear: both;
  padding: 2%;
}

.division-transparente {
  clear: both;
  padding: 2%;
}


.division-conocenos {
  border-top: 2px solid #aadcd2;
  clear: both;
  padding: 2%;
}

/* Contacto */
.division-contacto {
  border-top: 2px solid #aadcd2;
  clear: both;
  padding: 2%;
}

.contact li p {
  line-height: 100%;
}

.contact font {
  color: #cda434;
  font-size: 25px;
  font-family: : georgia;
}
/* Termina contacto*/
/*Menu inferior*/
.menu-dos  {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  float: left;
  font-size: 150%;
  font-weight: 300;
  list-style: none;
}

section li {
  display: inline-block;
  padding: 10px;
}

section li a {
  color: #00bfff;
}
/*Termino menu inferior*/

.datos {
  text-align: center;
}

.datos p {
  text-align: center;
  color: #fff;
  font: 160%;
  font-size: 130%;
  line-height: 0;
}

.datos li {
  display: inline;
}

.datos i {
  font-size: 420%;
  margin: 1%;
  padding: 0;
  color: #c3d7df;
}

.footer-second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}

.footer-second p, .footer-second a {
  text-align: center;
  color: #fff;
  font: 160%;
  line-height: 155%;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }

  #menu-icon {
    display: inline-block;
  }
  nav:hover ul {
    display: block;
  }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    right: 20px;
    width: 30%;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }

  .menu-uno-padding {
    width: 98%;
    margin: 0 0 0 25%;
    padding: 1%;
  }


  .direccion-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .segunda {
    float: left;
    width: 100%;
  }
  .segunda-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .tercera {
    float: left;
    width: 100%;
  }
  .tercera-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .primaria {
    float: left;
    width: 100%;
  }
  .primaria-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .icon-wrap {
    height: 80px;
    width: 80px;
    margin-top: 3%;
  }
  .icon-wrap i {
    font-size: 250%;
    padding-top: 27%
  }

  .areas-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .primera {
    float: left;
    width: 100%;
  }
  .primera-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }
  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }
}
